.main{
    width: 90%;
    min-width: 1000px;
    /*
    background-image: url("Assets/Pozadi/Pozadi.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100%;*/
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 4%;
    font-family: Tahoma, Geneva, sans-serif;
}

.background{
    width: 100%;
    height: fit-content;
    background-image: linear-gradient(90deg, #0C4E90, #66CECD);
}

.duv_background{
    width: 100%;
    height: 270px;
    background-image: linear-gradient(white, #d2f5f9);
}

#clanky_kontainer{
    width: 100%;
    height: fit-content;
    background-image: linear-gradient(#e9e9e9, #f8f8f8);
}

/*navigation panel*/
.header_link{
    text-decoration: none;
    color: #273B45;
    
}

.header_link:hover{
    color: #20c2f8;
}
#hbuttons{
    width: 80%;
    height: 60px;
    margin-right: 10%;
    margin-left: 10%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 600;
    line-height: 35px;
    
}

.button_container_active{
    background-image: url("Assets/Navigation/Prepinac/Active.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 140px;
    height: 50px;
    vertical-align: baseline;
    text-align: center;
    margin-left: 1%;
    color: #273B45;
    cursor: pointer;
}

.button_container:hover{
    background-image: url("Assets/Navigation/Prepinac/Hover.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 140px;
    height: 50px;
    vertical-align: baseline;
    text-align: center;
    margin-left: 1%;
    color: white;
    cursor: pointer;
}

.button_container{
    background-image: url("Assets/Navigation/Prepinac/Notactive.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 140px;
    height: 50px;
    vertical-align: baseline;
    text-align: center;
    margin-left: 1%;
    color: white;
}

#panel{
    background-color: white;
    width: 100%;
    height: 80px;
    box-shadow: 0 5px 2px -2px #333333;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

#kategorie{
    display: inline-flex;
    justify-content: flex-end;
    width: 80%;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: 600;
    margin-right: 10%;
}

.hkategorie{
    margin-left: 3%;
    width: fit-content;
    color: #273B45;
}

.hkategorie:focus{
    margin-left: 3%;
    width: fit-content;
    color: black;
}

#logo{
    margin-left: 10%;
    vertical-align: middle;
    cursor: pointer;
}


/*Panel with video*/
#inf{
    margin-top: 80px;
    display: inline-flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    margin-bottom: -1px;
}

#video{
    width: 60%;
    height: inherit;
    margin-left: -10%;
    background-image: url("Assets/Navigation/Pocitac.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 99;
    float: left;
}

#video_container{
}

#inform{
    width: 40%;
    margin-left: 50%;
    text-justify: auto;
    color: white;
    font-size: 1em;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: 100;
    position: absolute;
    z-index: 100;
}

#inform h1{
    margin-bottom: 10px;
}

#inform h2{
    margin-top: -1px;
}
#inform h3{
    margin-bottom: 20px;
}

#inform_buttons{
    width: 100%;
    display: inline-flex;
    justify-content: flex-start;
}

.button{
    width: 140px;
    height: 35px;
    border-radius: 3px;
    background-color: transparent;
    border-color: white;
    border: 1px solid;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: 600;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3%;
}

.button:hover{
    background-color: #20c2f8;
    border: 1px solid;
    border-color: #20c2f8;
}

/*Duvody*/
#duvody{
    display: inline-flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    
}

.duvod{
    text-align: center;
    color: black;
}

.duvod img:hover{
    animation-name: duvod_anim;
    animation-duration: 0.7s;
}

@keyframes duvod_anim {
    0%   {width: 90px; height: 90px;}
    50%  {width: 100px; height: 100px;}
    100% {width: 90px; height: 90px;}
  }

.duvod:hover{
    color: #273B45;
}

.duvod h3{
    font-size: 0.9em;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: 600;
    color: #273B45;
}

.duvod h4{
    font-size: 0.8em;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: 100;
    color: #273B45;
}

/*Reference*/
#references{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    height: fit-content;
    border-bottom: 2px solid rgb(197, 197, 197);
}

.head{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3%;
}

.head h1{
    font-size: 2em;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: 600;
    color:#273B45;
}

.com_button{
    width: fit-content;
    padding-left: 2%;
    padding-right: 2%;
    height: 35px;
    border-radius: 3px;
    background-color: #20c2f8;
    border-color: #20c2f8;
    border: 1px solid;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: 600;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3%;
}

.com_button:hover{
    background-color: #4ecdf7;
}

.reference{
    display: inline-flex;
    justify-content: space-between;
}

.reference_container{
    display: inline-flex;
    justify-content: space-between;
    width: 48%;
}

.reference_inf{
    margin-right: 3%;
    text-align: center;
}
.reference_inf img{
    border-radius: 45px;
    border: 1px dashed #20c2f8;
}

.reference_inf h3{
    font-size: 0.9em;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: 600;
    color:#273B45;
    margin-bottom: -13px;
}

.reference_inf h4{
    font-size: 0.8em;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: 100;
    color:#20c2f8;
    margin-bottom: -10px;
}

.reference_inf h4:hover{
    color: #273B45;
}
.reference_inf a{
    text-decoration: none;
}

.reference_inf a:visited{
    text-decoration: none;
    border: none;
    outline: none;
}

.reference_text{
    font-size: 0.9em;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: 100;
    color:#273B45;
    margin-bottom: 10%;
}

.quote{
    font-size: 0.9em;
    font-family: Tahoma, Geneva, sans-serif;
    font-style: italic;
    font-weight: 600;
    color:#273B45;
}

/*Reference logo*/
.ref_logo{
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    display: inline-flex;
    justify-content: space-between;
}

.ref_logo img{
    object-fit: contain;
}

.ref_logo img:hover{
    filter:sepia(50%) hue-rotate(110deg); 
    cursor: pointer;
}

/*Slider bar*/
#slider_bar_container{
    margin-top: 4%;
    width: 80%;
    height: fit-content;
    background-image: linear-gradient(90deg, #0C4E90, #66CECD);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
}

#slider_bar_container h1{
    font-family: Tahoma, Geneva, sans-serif;
    color: white;
    font-size: 35px;
    margin-bottom: -15px;
}
.slider {
    width: 100%;
    text-align: center;
    overflow: hidden;
    overflow-x: hidden;
  }
  
  .slide{
      display: inline-flex;
      margin-top: 5%;
      margin-bottom: 5%;
  }

  .slide img{
      object-fit: contain;
      width: 40%;
      height: auto;
      margin-right: 8%;
  }

  .slide_inf{
    width: 40%;
    font-family: Tahoma, Geneva, sans-serif;
    color: white;
    font-weight: 100;
    text-align: left;
  }

  .slide_inf h2{
    font-size: 2em;
    margin-bottom: 10px;
    font-weight: 100;
  }

  .slide_h3_name{
    font-size: 13px;
    font-weight: 600;
    margin-bottom: -10px;
  }

.slide_h3{
    font-size: 13px;
    font-weight: 100;
}

.inform_buttons{
    display: inline-flex;
    width: 70%;
    justify-content: space-between;
}

.inform_buttons a{
    text-decoration: none;
}

.inform_buttons a:visited{
    text-decoration: none;
}

/*Kontakty*/
#kont_container{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    color: #333333;
}

#kontakty{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    
}

#kont_inf{
    display: inline-flex;
    align-items: flex-start;
    width: 45%;
    
}

#kont_inf_text p{
    margin-bottom: -10px;
    
}

.kont-text{
    font-size: 13px;
}
#kont_inf img{
    object-fit: fill;
    width: 120px;
    height: 120px;
    margin-right: 10%;
    border: 15px solid rgb(197, 197, 197);
    border-radius: 50%;
}

#kont_input_field{
    width: 50%;
    line-height: 0px;
}

#kont_input_field input{
    vertical-align: baseline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.kont_input:focus{
    color: #20c2f8;
    border-color: #20c2f8;
}

.kont_input:hover{
    color: #20c2f8;
    border-color: #20c2f8;
}

.kont_input{
    height: 25px;
    width: 80%;
    margin: 1%;
    color: rgb(197, 197, 197);
    border: 1px solid rgb(197, 197, 197);
    border-radius: 5px;
    padding-left: 1%;
}
.kont_input_big{
    width: 80%;
    margin: 1%;
    color: rgb(197, 197, 197);
    border: 1px solid rgb(197, 197, 197);
    border-radius: 5px;
    padding-left: 1%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.kont_input_big:focus{
    color: #20c2f8;
    border-color: #20c2f8;
}

.kont_input_big:hover{
    color: #20c2f8;
    border-color: #20c2f8;
}

#submit_butt{
    height: 35px;
    width: 80%;
    margin: 1%;
    border: 2px solid #20c2f8;
    border-radius: 3px;
    background-color: #20c2f8;
    color: white;
}

#submit_butt:hover{
    background-color: #4ecdf7;
    border: 2px solid #4ecdf7;
}

/*Clanky*/

#clanky{
    margin-top: 5%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    
}

#clanky_inf{
    display: inline-flex;
    justify-content: space-between;
}

.clanek{
    width: 40%;
    height: 300px;  
    cursor: pointer;
    color: #333333;
    border: 1px solid #c2c2c2;
}

.clanek:hover{
    color:#20c2f8;
}

.clanek_img{
    height: 60%;
    background-color: #20c2f8;
    color: white;
    margin-bottom: -10px;   
    z-index: 1000;
}

.clanek_img p{
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 90px;
    text-align: center;
    line-height: 180px;
    vertical-align: baseline;

}

#clanek_2 .clanek_img{
    background-image: url("Assets/Clanky/Second.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100%;
}
.clanek_datum{
    border: 3px solid white;
    width: 60px;
    height: 60px;
    border-radius: 35px;
    font-size: 20px;
    position: absolute;
    text-align: center;
    margin: 1%;
}

.clanek_text{
    background-color: white;
    height: fit-content;
    padding: 2%;
    
}

.clanek_text h1{
    font-size: 12px;
}

.clanek_text p{
    font-size: 12px;
    padding-top: 3%;
    padding-bottom: 3%;
    color: #333333;
}

/**/

#footer{
    background-color: #20c2f8;
}